*{
    --formcolor:#e2e3e2;
    --header:#2b2a2a;
    --bgpage: #323232;
    --textform:rgb(0, 0, 0);
    --btncolor:#eee;
    --btnlight:#8ab180;
    --btnhover:#61ab4e;
    --green2:#55a940;
    --card1:#5da54b;
    --card:#bbccb7;
    --green:#487d3b;
    --inpbg:#eee;
    --modal:#e2e3e2b5;
    --folder-card:#81aa77f5;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0;
    padding: none;
  }