.playground-container{
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.content-container{
    padding: 5px;
    background-color: var(--bgpage);
    min-width: 40%;
    max-width: 85%;
    transition: width 0.1s ease;
}
.headerr-container{
    height: 7vh;
    display: flex;
    justify-content: center;
    background-color: var(--btnlight);
    padding: 5px 0;
}
.resizer {
    width: 5px;
    background-color: var(--btnlight);
    cursor: col-resize;
    user-select: none;
    transition: background-color 0.2s;
    flex-shrink: 0;
}

.resizer:hover {
    background-color: var(--green);
}

.resizer:active {
    background-color: var(--btnhover);
}

.in-out-container{
    box-sizing: border-box;
    display: flex; flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    min-width: 15%;
    max-width: 60%;
    transition: width 0.1s ease;
}
.editor-container{
    /* border: 5px solid var(--btnlight); */
    height: 100%;
}
.inputt-container,.output-container{
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 50%; width: 100%;
    position: relative;
}

.inputt-header,.output-header{
    background-color: var(--btnlight);
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.inputt-header b,.output-header b{
    padding-left: 1vh;
}
.inputt{
    width: 30%;
}
.input-icon,.output-icon{
    display: flex;
    justify-content: flex-end;
    height: 3vh;
    width: 35%;
}
.input-icon span, .output-icon span{
    font-size: small;
    margin-right: 1vh;
}
.editor{
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.editor-header{
    background-color: var(--btnlight);
    display: flex;
    justify-content: space-between;
}
.editor-header b{
    margin-left: 2vh;
    margin-right: 1vh;
}
.editor-body{
    background-color: black;
    flex-grow: 1;
}
.left,.right{
    display: flex;
    gap:10px;
    padding: 5px;
    align-items: center;
}
.left button, select{
    border: none;
    background-color: #43535136;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-left: 2vh;
}
.left button{
    color: black;
    background-color: var(--formcolor);
    cursor: pointer;
}

.left button:hover{
    background-color: #43535136;
    color: black;
}

.editor-footer{
    background-color: var(--btnlight);
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.editor-footer button, .editor-footer label{
    font-size: small;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    background-color: var(--formcolor);
    color:black;
    border: none;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
    transition-duration: 8ms;
}

.editor-footer button:hover, .editor-footer label:hover{
    background-color: #43535136;
    color: black;
}
textarea{
    width: 100%; 
    height: 90%; 
    box-sizing: border-box;
    resize: none;
    background-color: var(--bgpage);
    color:white;
    outline: none;
    border: 1px solid var(--btnlight);
}
.fullpage-loader{
    position: fixed;
    top:0; left: 0;right:0;bottom: 0;
    background-color: #43535112;
    display: flex;
    justify-content: center;
    align-items: center;

}
.loader{
    width: 5vh;
    height: 5vh;
    background-color: transparent;
    border: 1vh solid #8ab1807a;
    border-left-color: var(--btnlight);
    animation: 0.8s loader infinite linear;
    border-radius: 50%;
}

@keyframes loader {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 800px) {
    .editor-container{
        width: 100vw;height: 60vh;
    }
    .in-out-container{
        margin-top: 5vh;
        flex-direction: row;
        justify-content: space-between;
        gap: 2vh;
        height: 60vh; width: 98%;
        border: none; margin: 1vh;
    }
    .playground-container{
        flex-direction: column;
        width: 100vw;
        height: 50%;
    }
    .inputt-container,.output-container{
        height: 100%; width: 50%;
    }
}
@media screen and (max-width: 500px) {
    .editor-container{
        width: 100vw;height: 60vh;
    }
    .in-out-container{
        margin-top: 5vh;
        flex-direction: column;
        justify-content: space-between;
        gap: 2vh;
        height: 60vh; width: 98%;
        border: none; margin: 1vh;
    }
    .playground-container{
        flex-direction: column;
        width: 100vw;
        height: 100%;
    }
    .inputt-container,.output-container{
        height: 50%; width: 100%;
    }
}