.rt-editor{
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.rt-editor-header{
    background-color: var(--btnlight);
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.rt-editor-header b{
    margin-left: 2vh;
    margin-right: 1vh;
}
.left,.right{
    display: flex;
    gap:10px;
    padding: 5px;
    align-items: center;
}
.left button, select, .left label{
    border: none;
    background-color: #43535136;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 2vh;
    font-size: small;
    display: flex;
    align-items: center;
    gap: 5px;
}
.left button, .left label{
    color: black;
    background-color: var(--formcolor);
    cursor: pointer;
}

.left button:hover, .left label:hover{
    background-color: #43535136;
    color: black;
}
.newbtn{
    border: none;
    background-color: #43535136;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-left: 2vh;
}
@media screen and (max-width: 400px) {
    .rt-editor{
        width: 100vw !important;
        height: 100vh;
    }
}