.footgrad {
    height: 3px; 
    width: 100%;
    background: linear-gradient(90deg, var(--green), var(--green2), var(--btnlight), var(--formcolor), var(--btnhover), var(--card1), var(--card));
    animation: animate 20s linear infinite;
    background-size: 500%;
}

@keyframes animate {
    0% { background-position: 0 0; }
    100% { background-position: 500% 0; }
}
