.room{
    --side:rgb(31, 31, 31);
    margin: 0;
    padding: none;
    background-color: var(--bgpage);
}
.mainWrap {
    display: flex;
    height: 100vh;
}

.editorWrap {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.in-out-container {
    box-sizing: border-box;
    border-left: 5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 34vw;
    background-color: var(--bgpage);
}

.inputt-container, .output-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 50%;
    width: 100%;
    position: relative;
}

.inputt-header, .output-header {
    background-color: var(--btnlight);
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inputt-header b, .output-header b {
    padding-left: 1vh;
}

.input-icon, .output-icon {
    display: flex;
    justify-content: flex-end;
    height: 3vh;
    width: 35%;
    cursor: pointer;
    align-items: center;
}

.input-icon span, .output-icon span {
    font-size: small;
    margin-right: 1vh;
}

textarea {
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    resize: none;
    background-color: var(--bgpage);
    color: white;
    outline: none;
    border: 1px solid var(--btnlight);
    padding: 1vh;
    font-family: 'Courier New', monospace;
}

.fullpage-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #43535112;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader {
    width: 5vh;
    height: 5vh;
    background-color: transparent;
    border: 1vh solid #8ab1807a;
    border-left-color: var(--btnlight);
    animation: 0.8s loader infinite linear;
    border-radius: 50%;
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.aside {
    background-color: var(--side);
    padding: 2vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.asideInner {
   height: 80%;
}
.clientsList {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vh;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.userName {
    margin-top: 10px;
}
.rt-buttons{
    display: flex; flex-direction: column;
    gap: 1vh;
}
.btn,.leaveBtn{
    border: none;
    padding: 1vh;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.leaveBtn {
    background: var(--btnlight);
    margin-left: auto;
    width: 100%;
}

.leaveBtn:hover {
    background: var(--btnhover);
}

@media screen and (max-width: 800px) {
    .mainWrap {
        flex-direction: column;
    }
    .editorWrap {
        width: 100vw;
        height: 60vh;
    }
    .in-out-container {
        margin-top: 0;
        flex-direction: row;
        justify-content: space-between;
        gap: 2vh;
        height: 40vh;
        width: 100vw;
        border: none;
        border-top: 5px solid white;
    }
    .inputt-container, .output-container {
        height: 100%;
        width: 50%;
    }
    .aside {
        flex-direction: row;
    }
}

@media screen and (max-width:500px) {
    .mainWrap {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
    .editorWrap {
        width: 100vw;
        height: 50vh;
    }
    .in-out-container {
        margin-top: 0;
        flex-direction: column;
        justify-content: space-between;
        gap: 2vh;
        height: 50vh;
        width: 100vw;
        border: none;
        border-top: 5px solid white;
    }
    .inputt-container, .output-container {
        height: 50%;
        width: 100%;
    }
    .aside {
        flex-direction: row;
    }
    .btn, .leaveBtn {
        font-size: small;
    }
}
